<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            div.compareContainerDiv{
                position: relative;
                border: solid 1px black; 
                width: 1150px;
                height: 300px;
                text-align: center;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 15px;
            }
            table.compareTable{
                position: absolute;
            }
            p.comparingPlayers{
                font-weight: bold;
                font-size: 20px;
            }
            
        </style>
    </head>
    <body>
        <div class="compareContainerDiv" id="compareContainerDiv">
            <p class="comparingPlayers" id="comparingPlayers">Comparing Players</p>
            <table class="compareTable" id="compareTable">
                <tr>
                        <th class="compareTableH">Name</th>
                        <th class="compareTableH">Position</th>
                        <th class="compareTableH">Avg</th>
                        <th class="compareTableH">At Bat</th>
                        <th class="compareTableH">Hits</th>    
                        <th class="compareTableH">Runs</th>
                        <th class="compareTableH">HR</th>
                        <th class="compareTableH">Walks</th>
                        <th class="compareTableH">PO</th>
                        <th class="compareTableH">Error</th>
                        <th class="compareTableH">Era</th>
                        <th class="compareTableH">Wins</th>
                        <th class="compareTableH">Losses</th>
                        <th class="compareTableH">Innings</th>
                        <th class="compareTableH">Games</th>
                        <th class="compareTableH">Earned Runs</th>
                </tr>
                <tr>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                </tr>
                 <tr>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                </tr>
                <tr>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                    <td> fdsaf</td>
                </tr>                
            </table>
            
        </div>
    </body>
</html>
