<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "index1.html" %}

        {% block content %}
        <div class="compareContainerDiv" id="compareContainerDiv">
            <p class="comparingPlayers" id="comparingPlayers">Comparing Players</p>
            <table class="compareTable" id="compareTable">
                <tr>
                        <th class="compareTableH">Name</th>
                        <th class="compareTableH">Position</th>
                        <th class="compareTableH">Avg</th>
                        <th class="compareTableH">At Bat</th>
                        <th class="compareTableH">Hits</th>    
                        <th class="compareTableH">Runs</th>
                        <th class="compareTableH">HR</th>
                        <th class="compareTableH">Walks</th>
                        <th class="compareTableH">PO</th>
                        <th class="compareTableH">Error</th>
                        <th class="compareTableH">Era</th>
                        <th class="compareTableH">Wins</th>
                        <th class="compareTableH">Losses</th>
                        <th class="compareTableH">Innings</th>
                        <th class="compareTableH">Games</th>
                        <th class="compareTableH">Earned Runs</th>
                </tr>
                <tr>
                    {% for stat1 in player1 %}
                    <td> {{stat1}} </td>
                    {% endfor %}
                </tr>
                 <tr>
                    {% for stat2 in player2 %}
                     <td> {{stat2}} </td>
                     {% endfor %}
                </tr>
                <tr>
                    {% for stat3 in player3 %}
                    <td> {{stat3}}</td>
                    {% endfor %}
                </tr>                
            </table>
            
        </div>
{% endblock %}
