<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "index1.html" %}

        {% block content %}
            <div class="nationalDivisionsDiv">
                <p class="national" >National</p>
                <p>Division1 </p>
                <table class="nationalDivision1">
                    <tr>
                        <td class="nationalDivision1data" id="nationalDivision1data">team name</td>
                    </tr>
                </table>
                <p>Division2</p>
                 <table class="nationalDivision2">
                    <tr>
                        <td class="nationalDivision2data" id="nationalDivision2data">team name</td>
                    </tr>
                </table>               
            </div>
            <div class="americanDivisionsDiv">
                <p class="american">American</p>
               <p>Division1 </p>
                <table class="americanDivision1">
                    <tr>
                        <td class="americanDivision1data" id="americanDivision1data">team name</td>
                    </tr>
                </table>
                <p>Division2</p>
                 <table class="americanDivision2">
                    <tr>
                        <td class="americanDivision2data" id="americanDivision2data">team name</td>
                    </tr>
                </table>  
            </div>
{% endblock %}
