<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "index1.html" %}

        {% block content %}
            <div class="nationalDivisionsDiv">
    <p class="national">National League</p>
    <p>Nation League East </p>
    <table class="nationalDivision1">
        {% for team in nle %}
        <tr>
            <td class="nationalDivision1data" id="nationalDivision1data">
                {{team}}
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>National League West</p>
    <table class="nationalDivision2">
        {% for team in nlw %}
        <tr>
            <td class="nationalDivision2data" id="nationalDivision2data">{{team}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>National League Central</p>
    <table class="nationalDivision2">
        {% for team in nlc %}
        <tr>
            <td class="nationalDivision3data" id="nationalDivision3data">{{team}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="americanDivisionsDiv">
    <p class="american">American League</p>
    <p>American League East </p>
    <table class="americanDivision1">
        {% for team in ale %}
        <tr>
            <td class="americanDivision1data" id="americanDivision1data">{{team}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>American League West</p>
    <table class="americanDivision2">
        {% for team in alw %}
        <tr>
            <td class="americanDivision2data" id="americanDivision2data">{{team}}</td>

        </tr>
        {% endfor %}
    </table>
    <p>American League Central</p>
    <table class="americanDivision3">
        {% for team in alc %}
        <tr>
            <td class="americanDivision3data" id="americanDivision3data">{{team}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
