<!doctype html>
<html>
<head><title>Player</title></head>
    <body>
            <div class=page>
                <h1>Players</h1>
                    <table>
                        <tr>
                            
                            {% for stat in player %}
                            {% if stat.index != 0 %}
                                <td>
                                    
                                    {{ stat }}
                                </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </table>
            </div>
    </body>
</html>
