<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "index1.html" %}

        {% block content %}
        <div class="playerDataDiv" id="playerDataDiv">
            <img alt="Player Team Image" class='playerTeamImg' id='playerTeamImg' src='kansas-city-royals13.jpg'> 
            <div class="playerNameDiv" id="playerNameDiv">
                <p class='playerName' id='playerName'>1111111</p>
                <input class="playerCompareButton" id="playerCompareButton" type="button" value="compare">
            </div>
            <div class="playerStatsDiv" id="playerTabelsDiv">
                <p class="playerBattingLabel" id="playerBattingLabel">Batting</p>
                <ul class="playerStatsList" id="playerBattingStats">
                    <li class="playerStatsListsHeadings" id="playerHitsLabel">Hits: </li>
                    <li class="playerStatsListsStats" id="playerHits">>9000</li>
                    <li class="playerStatsListsHeadings" id="playeratBatLabel">At Bat: </li>
                    <li class="playerStatsListsStats" id="playeratBat"> 800</li>
                    <li class="playerStatsListsHeadings" id="playerRunsLabel">Runs: </li>
                    <li class="playerStatsListsStats" id="playerRuns">3333</li>
                    <li class="playerStatsListsHeadings" id="playerHomeRunsLabel">Home Runs: </li>
                    <li class="playerStatsListsStats" id="playerHomeRuns">3433</li>
                    <li class="playerStatsListsHeadings" id="playerWalksLabel">Walks: </li>
                    <li class="playerStatsListsStats" id="playerWalks">3333</li>
                </ul> 
                <p class="playerFieldingLabel" id="playerFieldingLabel">Fielding</p>
                <ul class="playerStatsList" id="playerFieldingStats">
                    <li class="playerStatsListsHeadings" id="playerPutOutsLabel">Put Outs: </li>
                    <li class="playerStatsListsStats" id="playerPutOuts">4343 </li>
                    <li class="playerStatsListsHeadings" id="playerErrorLabel">Error: </li>
                    <li class="playerStatsListsStats" id="playerError">3433 </li>
                </ul>
                <p class="playerPitchingLabel" id="playerPitchingLabel">Pitching</p>
                <ul class="playerStatsList" id="playerPitchingStats">
                    <li class="playerStatsListsHeadings" id="playerWinsLabel">Wins: </li>
                    <li class="playerStatsListsStats" id="playerWins">3333</li>
                    <li class="playerStatsListsHeadings" id="playerLosesLabel">Loses: </li>
                    <li class="playerStatsListsStats" id="playerLoses">3333</li>
                    <li class="playerStatsListsHeadings" id="playerERALabel">ERA: </li>
                    <li class="playerStatsListsStats" id="playerERA">3333</li>
                    <li class="playerStatsListsHeadings" id="playerGamesPitchedLabel">Games Pitched: </li>
                    <li class="playerStatsListsStats" id="playerGamesPitched">3333</li>
                    <li class="playerStatsListsHeadings" id="playerEarnedRunsLabel">Earned Runs: </li>
                    <li class="playerStatsListsStats" id="playerEarnedRuns">3333</li>
                    <li class="playerStatsListsHeadings" id="playerInningsPitchedLabel">Innings Pitched: </li>
                    <li class="playerStatsListsStats" id="playerInningsPitched">3333</li>
                </ul>
            </div>
        </div>
		
{% endblock %}
