
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "index1.html" %}

        {% block content %}
        <div class="teamDataDiv" id="teamDataDiv">
            <img alt="Team Logo" class="teamImg" id="teamImg" src='C:\Users\Walter\Downloads\HomePage\logo_kc_79x76.jpg'>
            <div class="teamNameDiv" id="teamNameDiv">
                <p class='teamName' id='teamName'>Royals</p>
            </div>   
            <div class="teamStatsDiv" id="teamStatsDiv">
                <p class="tableNames"> Position Players</p>
                <table class="Playerstable" id="teamPlayerstable">
                    <tr>
                        <th class="playerTableth">Name</th>
                        <th class="playerTableth">Position</th>
                        <th class="playerTableht">Avg</th>
                        <th class="playerTableth">At Bat</th>
                        <th class="playerTableth">Hits</th>    
                        <th class="playerTableth">Runs</th>
                        <th class="playerTableth">HR</th>
                        <th class="playerTableth">Walks</th>
                        <th class="playerTableth">PO</th>
                        <th class="playerTableth">Error</th>
                    </tr>
                    <tr class="teamPlayerRow" id="plyaeer1">
                        <td>{{Player_Name}}</td>
                        <td>{{Player_Position}}</td>
                        <td>{{Player_AVG}}</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                    </tr>
                    <tr class="teamPlayerRow" id="players">
                        <td>{{Player_Name}}</td>
                        <td>{{Player_Position}}</td>
                        <td>{{Player_AVG}}</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                    </tr>
                </table>   
                <p class="tableNames"> Pitchers</p>
                <table class="pitchersTable" id="teamPitchersTable">
                    <tr>
                        <th class="pitchersTableth">Name</th>
                        <th class="pitchersTableth">Position</th>
                        <th class="pitchersTableth">Era</th>
                        <th class="pitchersTableth">Wins</th>
                        <th class="pitchersTableth">Losses</th>
                        <th class="pitchersTableth">Innings</th>
                        <th class="pitchersTableth">Games</th>
                        <th class="pitchersTableth">Earned Runs</th>
                        <th class="pitchersTableth">Put Outs</th>
                        <th class="pitchersTableth">Errors</th>
                    </tr>
                    <tr class="teamPitcherRow" id="teamPitcherRow">
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                    </tr>
                    <tr class="teamPitcherRow" id="pitcher2">
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                        <td>info</td>
                    </tr>
                </table>
                <p class="tableNames"> Coaches</p>
                <table class="coachesTable" id="coachesTable">
                    <tr>
                        <th class="coachesTableth">Name</th>
                        <th class="coachesTableth">Coach Type</th>
                    </tr>
                    <tr class="teamCoachesRow" id="teamCoachesRow">
                        <td>info</td>
                        <td>info</td>
                    </tr>
                </table>
            </div>
        </div>  
{% endblock %}